main {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 90%;

    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(7, 121, 222, 1) 0%,
        rgba(20, 72, 140, 1) 90%
    );
}

.sidebar {
    width: 20%;
    height: 100%;

    overflow-y: auto;

    background-color: #0093e9;
    background-image: linear-gradient(0deg, #0093e9 0%, #48c3c7 100%);
}

#legendLabel {
    padding: 0.5rem;
    margin: 0;

    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

ul {
    margin: 0;

    color: white;
}

.quickLink {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}

.quickLink:focus {
    outline: none;
}

.quickLink:hover {
    color: black;
}

#animalsList {
    align-items: center;
    width: 80%;
    height: 100%;

    overflow-y: auto;
    scroll-behavior: smooth;
}

.animalContainer {
    display: flex;
    margin: 2rem auto;

    width: 80%;
    height: 20rem;
    color: white;

    border: 0.25rem solid white;
    background-color: #0093e9;
    background-image: linear-gradient(0deg, #0093e9 0%, #48c3c7 100%);
}

img {
    width: 20rem;
    height: 20rem;
    max-height: 25rem;

    object-fit: fill;
}

.animalInformation {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.nameField {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 2rem;
    padding: 0.25rem;

    border: 0.1rem solid white;
}

.name,
.scientificName {
    display: flex;

    padding-left: 1rem;

    font-weight: bold;
}

.nameLabel {
    color: black;
    font-weight: bold;
}

.nameField p {
    margin: 0;
    padding: 0.25rem;

    border: 0.1rem solid white;
}

.scientificName p {
    font-style: italic;
}

.descriptionField {
    height: 15rem;
    padding: 0.5rem;

    border: 0.1rem solid white;
}

.descriptionField p {
    margin: 0.25rem;
}

@-moz-document url-prefix() {
    .descriptionField p {
        font-size: 0.95rem;
    }
}

.extraField {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 2rem;

    border: 0.1rem solid white;
}

.likes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.likeCounter {
    margin: 0.5rem;

    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.likeButton {
    width: 6rem;
    height: 2rem;
    margin: 0.5rem;

    color: #2c328bbe;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    border: 0.1rem solid black;
    background-color: white;
}

.likeButton:focus {
    outline: none;
}

.likeButton:hover {
    cursor: pointer;
}

.danger {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 0.1rem solid white;
}

.dangerLabel {
    margin: 0;
    padding: 0.35rem;

    color: black;
    font-weight: bold;

    border: 0.1rem solid white;
}

.dangerRating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.starImage {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem;
}

/*360 x 740*/
@media screen and (max-width: 360px) {
    main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 25%;

        overflow-y: auto;
    }

    #legendLabel {
        display: none;
    }

    #animalsList {
        width: 100%;
    }

    .animalContainer {
        flex-direction: column;

        margin: 1rem auto;
        width: 95%;
        height: 40rem;
    }

    .animalImage {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 40%;
    }

    img {
        width: 70%;
        height: 100%;

        object-fit: fill;
    }

    .animalInformation {
        flex-direction: column;

        width: 100%;
        height: 60%;
    }

    .nameField {
        flex-direction: column;

        height: 20%;
    }

    .name,
    .scientificName {
        font-size: 0.75rem;
    }

    .descriptionField {
        height: 100%;
    }

    .descriptionField p {
        font-size: 0.75rem;
    }

    @-moz-document url-prefix() {
        .descriptionField p {
            font-size: 0.75rem;
        }
    }

    .extraField {
        height: 20%;
    }

    .likeCounter {
        margin: 0.5rem;

        font-weight: bold;
        color: black;
    }

    .likeButton {
        width: 100%;
        height: 75%;
    }

    .starImage {
        width: 0.75rem;
        height: 0.75rem;
        margin: 0.1rem;
    }
}
