main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(7, 121, 222, 1) 0%,
        rgba(20, 72, 140, 1) 90%
    );
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 28rem;
    width: 75%;
    padding: 1.5rem;

    border: 0.1rem solid white;
    background-color: #008cffbe;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;

    margin: 0;
}

h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 75%;
}

input {
    width: 60%;
    height: 2rem;
    margin: 0.75rem 0;
    padding: 0;

    color: white;

    border: none;
    border-bottom: 2px solid white;
    background: transparent;
}

input:focus {
    outline: none;
    border-bottom: 2px solid white;
}

input::placeholder {
    color: white;
    text-align: center;
}

#submitRegistration {
    width: 100%;
    height: 2.25rem;
    max-width: 10rem;
    margin-top: 1rem;

    color: #008cffbe;
    font-size: 1rem;
    font-weight: bold;

    border-radius: 15px;
    border: 0.1rem solid white;
    background-color: white;
}

#submitRegistration:focus {
    outline: none;
}

#submitRegistration:hover {
    cursor: pointer;
}

#submitRegistration:hover {
    cursor: pointer;
    color: white;
    background-color: #2c328bbe;
}
